<!-- Materialize scripts -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

<!-- Header -->
<nav class="nav-extended light-blue darken-1">
  <div id="title-bar" class="nav-content">
    <span class="nav-title">David Boles{% if page.title %}: {{ page.title }}{% endif %}</span>
  </div>
  <div class="nav-wrapper clearfix">
    <ul class="left">
      <li><a href="/">Home</a></li>
      <li><a href="/posts/">Posts</a></li>
      <!--<li><a href="/portfolio/">Portfolio</a></li>-->
    </ul>
  </div>
</nav>

<!--
<nav id="main-menu" class="menu">
  <ul>
    <li><a href="/posts/">Posts</a></li>
    <li><a href="/portfolio/">Portfolio</a></li>
  </ul>
</nav>-->
