body {
  margin: 0px;
  display: block;
  font-family: 'Roboto Mono';font-size: 14px;
}

#content {
  margin: 0 72px 0 72px;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  text-align: center;
}
