.dark {
  background-color: {{ site.data.colors.dark.secondary }};
  color: {{ site.data.colors.dark.primary }};
}
.dark a:link {
  color: {{ site.data.colors.dark.primary3 }};
}
.dark a:visited {
  color: {{ site.data.colors.dark.primary3 }};
}
.dark a:hover {
  color: {{ site.data.colors.dark.primary4 }};
}
.dark a:active {
  color: {{ site.data.colors.dark.primary }};
}

.light {
  background-color: {{ site.data.colors.light.secondary }};
  color: {{ site.data.colors.light.primary }};
}
.light a:link {
  color: {{ site.data.colors.light.primary3 }};
}
.light a:visited {
  color: {{ site.data.colors.light.primary3 }};
}
.light a:hover {
  color: {{ site.data.colors.light.primary4 }};
}
.light a:active {
  color: {{ site.data.colors.light.primary }};
}
