.header {
  margin: 0px;
  padding: 0 0 0 24px;
  font-size: 16px;
}

.title {
  margin: 0px;
  display: inline;
}

.title li:hover {
  background-color: {{ site.data.colors.dark.secondary4 }};
}

.description {
  margin: 0px;
  display: inline;
}
